<main class="login-box">
  <div class="login-logo">
    <a routerLink="/dashboard/v1" class="text-decoration-none"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card shadow-sm">
    <div class="card-body login-card-body">
      <p class="login-box-msg">
        You forgot your password? Here you can easily retrieve a new password.
      </p>

      <form (submit)="requestPassword($event)">
        <label class="visually-hidden" for="forgotEmail">Email</label>
        <div class="input-group mb-3">
          <input
            id="forgotEmail"
            type="email"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            required
          />
          <div class="input-group-text">
            <span class="bi bi-envelope"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Request new password</button>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a routerLink="/auth/login" class="text-decoration-none">Login</a>
      </p>
      <p class="mb-0">
        <a routerLink="/auth/register" class="text-center text-decoration-none"> Register a new membership </a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</main>
